@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Londrina+Shadow&family=Yuyu&family=Yuyu+Short&display=swap');

* {

    margin: 0%;

}

body {
    background-image: url('../assets/Background.jpeg');

    background-size: cover;

    min-height: 100vh;

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    flex-wrap: wrap;



}

#img {
    display: flex;
    align-items: center;
    justify-content: center;


}

img {


    font-size: 1px;
    width: 450px;
    height: 300px;
}

#combo {

    font-size: 200px;


}

#title {

    font-size: 120px;
    font-family: "Londrina Shadow", sans-serif;
    color: rgb(255, 0, 0);


}

#Buttons {

    display: flex;
    justify-content: center;
    align-items: center;

}

.b {

    width: 200px;
    height: 50px;
    margin: 20px;
    border-radius: 40px;
    margin-top: 120px;
    background-color: blanchedalmond;


}

a {
    text-decoration: none;
    text-decoration-line: none;

}

.b:hover {

    background-color: blue;

}

.b:active {

    background-color: aquamarine;

}

#BackButton {

    margin-left: 250px;


}


.Categories,
.Level {

    height: 150px;
    width: 300px;
    object-fit: cover;
    background-position: center;
    border-radius: 40px;
    flex-wrap: wrap;

}

#Categores-Selected,
#Levels {

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 100px;
}


.card-front {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    margin-left: 40px;

    background-size: cover;
    background-position: center;

}


.memory-game {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    gap: 30px;
}

#play-cards {
    display: flex;
    justify-content: center;
    align-items: center;

}


#time-interval {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

#Messages {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

#PlayernName {

    background-image: url('../assets/PlayerWithName.png');
    background-position: center;
    background-size: cover;


}

#Clubs-Logo {

    background-image: url('../assets/OldWithNew.png');
    background-position: center;
    background-size: cover;
}

#Saudi-League {

    background-image: url('../assets/SaudiLeague.png');
    background-position: center;
    background-size: cover;

}

#GA-Instructor {

    background-image: url('../assets/General-Assembley.png');
    background-position: center;
    background-size: cover;

}

#Easy {

    background-image: url('../assets/Easy.png');
    background-position: center;
    background-size: cover;

}

#Medium {

    background-image: url('../assets/Medium.png');
    background-position: center;
    background-size: cover;


}

#Hard {

    background-image: url('../assets/Hard.png');
    background-position: center;
    background-size: cover;


}